/* Contact Us section */

#contact-us {
  background-color: #f8f8f8;
  padding: 50px 0;
}

form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
}

textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
