body {
  font-family: Arial, sans-serif;
  margin: 0;
}

{
  background-color: #CED9E5;
}

/* Text color */
h1, h2, h3, p {
  color: #202A44;
}

/* Border color */
.border {
  border: 2px solid #53565A;
}

/* Link color */
a {
  color: #1B365D;
}

/* Hover color */
a:hover {
  color: #7089AC;
}

/* Primary color */
.primary {
  color: #1B365D;
  background-color: #7089AC;
}

/* Lighter shade */
.light {
  color: #202A44;
  background-color: #CED9E5;
}

/* Darker shade */
.dark {
  color: #CED9E5;
  background-color: #202A44;
}

/* Neutral shade */
.neutral {
  color: #888B8D;
  background-color: #E1DFDD;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

header {
  background-image: url('path/to/image.jpg');
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header h1 {
  font-size: 4rem;
  margin: 0;
}

header h2 {
  font-size: 2rem;
  margin: 0;
}

section {
  padding: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Additional styling for individual pages */
/* Default styles for slideshow container */
.slideshow {
  width: 100%;
  max-width: 800px; /* Limit slideshow width for larger screens */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Styles for slideshow images */
.slideshow img {
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 768px) {
  /* Adjust slideshow size and margins for smaller screens */
  .slideshow {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  /* Adjust slideshow size and margins for even smaller screens */
  .slideshow {
    max-width: 300px;
    margin: 0 auto;
  }
}
